@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

section {
  height: 100vh;
}

#home {
  background: linear-gradient(to right, #4daf54, #3d8880);
  color: white;
  padding: 100px;
}

#home h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#home .description {
  font-size: 20px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .box {
  background: #242628;
  color: white;
  height: 200px;
  padding: 20px;
  margin: 40px 20px;
  border-radius: 10px;
  width: 500px;
}

#about .title {
  font-size: 22px;
  font-weight: bold;
}

#team {
  background: linear-gradient(180deg, #4daf54 50%, #fff 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.member {
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 250px;
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.member .name {
  color: #017c2c;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Animation */
.left-to-right {
  transform: translateX(-200%);
  transition: 1s;
}

.left-to-right.start {
  transform: translateX(0);
}

.right-to-left {
  transform: translateX(200%);
  transition: 1s;
}

.right-to-left.start {
  transform: translateX(0);
}

.zoom {
  transform: scale(0);
  transition: 1s;
}

.zoom.start {
  transform: scale(1);
}
