@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --success-color: #2691d9;
  --error-color: #e74c3c;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #3ca7ee, #9b408f);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.container h1 {
  text-align: center;
}

.form-control {
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.form-control input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #adadad;
  height: 40px;
  font-size: 16px;
}

.form-control span {
  position: absolute;
  top: 38px;
  left: 0;
  width: 0%;
  transition: 0.3s;
  border-bottom: 3px solid var(--success-color);
}

.form-control input:focus ~ span {
  width: 100%;
}

.form-control.error small {
  color: var(--error-color);
}

.form-control.error input {
  border-bottom: 2px solid var(--error-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: var(--success-color);
  font-size: 16px;
  font-weight: bold;
  margin: 25px 0;
  transition: 0.3s;
}

.submit-btn:hover {
  transform: scale(0.94);
}

.sign-up-link {
  text-align: center;
}

.sign-up-link a {
  color: var(--success-color);
  text-decoration: none;
}

.sign-up-link a:hover {
  text-decoration: underline;
}
