* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue-sky: #7ddffc;
  --dark-sky: #272c34;
  --yellow-sun: #ffef00;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: var(--dark-sky);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  position: absolute;
}

.circle {
  width: 180px;
  height: 180px;
  clip-path: circle(90px at 50% 50%);
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

.sky {
  position: absolute;
  width: 100%;
  height: 124px;
  background-color: var(--blue-sky);
  animation: sky-dark 4s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.49, 1);
}

.sun {
  position: absolute;
  width: 34px;
  height: 34px;
  background-color: var(--yellow-sun);
  top: 7px;
  left: 73px;
  border-radius: 100%;
  transform-origin: 50% 400%;
  animation: sun-down 4s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.49, 1);
}

.ground {
  position: absolute;
  width: 100%;
  height: 56px;
  bottom: 0;
  background-color: #f0de75;
  animation: ground-dark 4s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.49, 1);
}

.left {
  position: absolute;
  width: 116px;
  height: 75px;
  bottom: 56px;
  left: 35px;
  background-color: #f4f4f4;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  animation: pyramid-shade 4s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.49, 1);
}

.right {
  position: absolute;
  width: 61px;
  height: 75px;
  bottom: 56px;
  left: 93px;
  background-color: #dadada;
  clip-path: polygon(0% 0%, 100% 100%, 30% 100%);
  animation: pyramid-shade 4s infinite reverse;
  animation-timing-function: cubic-bezier(0.4, 0, 0.49, 1);
}

.shadow {
  position: absolute;
  z-index: 2;
  height: 30px;
  width: 360px;
  bottom: 26px;
  left: -80px;
  clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
  background-color: rgba(0, 0, 0, 0.2);
  transform-origin: 50% 0%;
  animation: shadow 4s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.49, 1);
}

/* Animation */

@keyframes sky-dark {
  0% {
    background-color: var(--dark-sky);
  }

  30% {
    background-color: var(--blue-sky);
  }

  70% {
    background-color: var(--blue-sky);
  }

  100% {
    background-color: var(--dark-sky);
  }
}

@keyframes sun-down {
  0% {
    background-color: #f57209;
    transform: rotate(-70deg);
  }

  30% {
    background-color: var(--yellow-sun);
    transform: rotate(-20deg);
  }

  70% {
    background-color: var(--yellow-sun);
  }

  100% {
    background-color: #f57209;
    transform: rotate(70deg);
  }
}

@keyframes pyramid-shade {
  0% {
    background-color: var(--dark-sky);
  }

  30% {
    background-color: #f4f4f4;
  }

  70% {
    background-color: #dddada;
  }

  100% {
    background-color: var(--dark-sky);
  }
}

@keyframes shadow {
  0% {
    transform: scaleY(0);
    clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
  }

  30% {
    transform: scaleY(1);
    clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
  }

  55% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
    clip-path: polygon(115px 0%, 231px 0%, 0% 100%);
  }
}

@keyframes ground-dark {
  0% {
    background-color: var(--dark-sky);
  }

  30% {
    background-color: var(--yellow-sun);
  }

  70% {
    background-color: var(--yellow-sun);
  }

  100% {
    background-color: var(--dark-sky);
  }
}
